/* Add your CSS styles here */
body {
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  color: #5d5dff;
}

.header a {
  text-decoration: none;
  color: #5d5dff;
}

.header a:hover {
  color: #8989ff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar nav li {
  margin: 10px 0;
}

.sidebar nav a {
  display: block;
  color: #333;
  text-decoration: none;
}

.sidebar nav a:hover {
  color: #00b8d4;
}


.intro {
  padding: 20px;
}

.intro h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #5d5dff;
}

.intro p {
  font-size: 1em;
}
