@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: ease-in-out;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 100;
  margin-bottom: 116px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.6);
  height: 80px;
}

body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  font-family: "Prompt", Arial, Helvetica, sans-serif;
  color: white;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin-right: 20px;
  margin: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#navbar-link {
  position: relative;
}

#navbar-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  top: 21px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#navbar-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.navbar-colored {
  background-color: rgb(13, 16, 23);
}

.navbar-transparent {
  background-color: #ffffff00;
}

.hero {
  height: 600px;
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: URL("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 40px;
  animation: fadeIn 2s ease-in-out;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  bottom: 30px;
  left: 0%;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1);
  position: relative;
  top: 150px;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 9px);
  left: 29%;
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.section {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  animation: fadeIn 2s ease-in-out;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
  animation: fadeIn 2s ease-in-out;
}

.profile-info {
  max-width: 600px;
}

.profile-info h2 {
  font-size: 30px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.profile-info p {
  font-size: 18px;
  line-height: 1.5;
  animation: fadeIn 2s ease-in-out;
}

.code {
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  animation: fadeIn 2s ease-in-out;
}

.code pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  border: 2px solid #1b1c23;
  background-color: #0d1117;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {

  p,
  h1,
  h2,
  #arts {
    margin-inline: 20px;
  }

  .navbar-menu {
    display: none;
  }

  .hero {
    background-position: 33%;
  }

  .profile {
    flex-direction: column;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  @keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0) scale(1.5);
      -ms-transform: translateY(0) scale(1.5);
      transform: translateY(0) scale(1.5);
    }

    40% {
      -webkit-transform: translateY(-15px) scale(1.5);
      -ms-transform: translateY(-15px) scale(1.5);
      transform: translateY(-15px) scale(1.5);
    }

    60% {
      -webkit-transform: translateY(-10px) scale(1.5);
      -ms-transform: translateY(-10px) scale(1.5);
      transform: translateY(-10px) scale(1.5);
    }
  }

  .scroll-down {
    top: 60px;
    transform: scale(1.5);
  }

  .scroll-down:before {
    top: calc(50% - 9px);
    left: 29%;
  }
}

.contact-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  top: 21px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.contact-button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.fullscreen,
.fotorama--fullscreen,
.fotorama--fullscreen .fotorama__stage,
.fotorama--fullscreen .fotorama__nav,
.fotorama-overlay {
  background-color: #0505056f;
}

.thumbs>.fotorama {
  overflow: visible;
}

/* style thumbs a bit */
.thumbs a {
  text-decoration: none;
  display: inline !important;
  color: #34457b;
}

.thumbs a:hover {
  color: #af1d05;
}

.thumbs a.switch {
  border-bottom: 1px dashed;
}

.thumbs img {
  width: auto;
  height: 300px;
  border: 2px transparent solid;
  margin-left: -2px;
  transition: border 0.2s ease-in-out;
}

.thumbs a:hover img {
  border-color: #00afea;
}

/* straight “close” icon instead of “cancel fullscreen” */
.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -64px 0;
}

.fotorama {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: ease;
}

.fotorama a {
  flex-basis: calc(25% - 10px);
}

@media (max-width: 600px) {
  .fotorama a {
    flex-basis: 100%;
    /* faz com que cada imagem ocupe uma linha inteira em telas pequenas */
  }

  .thumbs img {
    width: 100%;
    height: auto;
  }
}

footer {
  background: #1b1c23;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h3 {
  margin-bottom: 20px;
}

.contact-button {
  display: inline-block;
  color: #fff;
  text-decoration: none !important;
  font-size: 18px;
  position: relative;
  margin-bottom: 10px;
  transition: 0.3s;
}

.contact-button:hover {
  color: darkgray;
}

/* social icon animations */
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zero-studios-logo {
  margin-top: 30px;
  height: 50px;
}
